@font-face {
    font-family: 'CustomFontMed';
    src: url('RobotoMono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFontLight';
    src: url('RobotoMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(28,30,32);
    height: 100vh;
    display: grid;
    font-family: 'CustomFontLight', fallback, sans-serif;
}
body h1{
    font-family: 'CustomFontMed', fallback, sans-serif;
    color: white;
    font-size: 56px;
    margin-bottom: 20px;
    border: 1px solid white; /* This will add a thin white border around your h1 elements */
    padding: 20px; /* Add some space between the text and the border */
    display: inline-block;
    text-decoration: none; /* This will remove the underline usually associated with links */
    transition: background-color 0.3s ease;
}
body h2{
    font-family: 'CustomFontLight', fallback, sans-serif;
    color: white;
    font-size: 26px;
    margin-bottom: 20px;
}
body p {
    font-family: 'CustomFontLight', fallback, sans-serif;
    color: white;
    margin-bottom: 8%;
    margin-right: 0px;
    max-width: 800px;
}
hr {
    margin: 100px 0;
    margin-left: 100px;
    margin-right: 100px;
}
figure img{
    width: 100%; /* Image will take the full width of its parent container, 'figure' */
    height: auto;
}

figure {
    width: 30%; /* This will set the width of figure to 25% of the '.content' width */
}

.content {
    width: 70%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center; /* This will vertically align the items if needed */
    justify-content: flex-start; /* This will put space around the items */
    margin-top: 150px;
    margin-left: 8%;
  }
  
.text-content {
    margin-left: 100px; /* Optional: add some space between the figure and the text */
}

.nav-menu {
    position: absolute;
    top: 10;
    right: 50px;
    margin: 40px;
    background-color: white;
}

.nav-menu ul {
    list-style-type: none;
}

.nav-menu li {
    display: inline;
    margin-right: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

footer {
    width: 100%;
    
    justify-content: space-around;
    align-items: flex-start;
    padding: 100px 0;
    background-color: rgba(28,30,32);
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 100px;
}

.footer-content .footer-left h3 {
    font-family: 'CustomFontLight', fallback, sans-serif;
    color: white;
    font-size: 46px;
    margin-bottom: 20px;
    margin-left: 8%;
}

.footer-content .footer-left p {
    margin-bottom: 20px;
    margin-left: 8%;
}
.footer-right {
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 40px; /* Adjust as needed */
    text-decoration: underline;
    text-underline-offset: 15px; /* Adjust as needed */
}

.footer-content p, .footer-content a {
    margin: 0 20px; /* Add some space between the items */
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    color: #ddd; /* Change color on hover */
}